

<h1>Bienvenue sur Entraide2.0 !</h1>

<p>
    Veuillez cliquer sur le lien pour confirmer votre adresse email: <br><br>
    <a href="{{ signedUrl }}">Lien de confirmation</a>.
    
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>


