

{% extends 'base.html.twig' %}
{% block stylesheets %}
<body background="{{asset('media/aide.jpg')}}">
 <link rel="stylesheet" href="{{asset('css/annonce.css')}}">
{% endblock %}
{% block body %}
    <!--partie header -->
    <div>
   
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
            <a class="navbar-brand" href="/"> <img src="{{asset('media/logo.png')}}"   width ="100" alt="logo" />Entraide 2.0
            </a>
           
            </div>
            <nav class="d-flex">
            
            <div class="nav-item">
            <a class="nav-link" href="/logout">Déonnexion</a>
            </div>
       
    </div>

  
   

   <button type="button" class="btn btn-outline-primary">
        <a href="/competence" class="profil__link">Gérer mes compétences</a>
   </button>

   <button type="button" class="btn btn-outline-primary">
        <a href="/send" class="profil__link">Gérer mes messages</a>
   </button>
   <button type="button" class="btn btn-outline-primary">
        <a href="/search" class="profil__link">Chercher des annonces</a>
   </button>
   <button type="button" class="btn btn-outline-primary">
        <a href="/mesAnnonce" class="profil__link">Gérer mes annonces</a>
   </button>


{% endblock body %}