{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation du mot de passe envoyé{% endblock %}

{% block body %}
    <class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Réinitialiser mon mot de passe</h5>
            <form method="post">
              
        <p>
        Merci de vérifier dans vos e-mails que vous avez reçu
        un lien pour réinitialiser votre mot de passe.
        <p>
        <figcaption class="blockquote-footer">
                Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </figcaption>
       
  
        <p>Lien non reçu?
            <a href="{{ path('app_forgot_password_request') }}">Renvoyer
            </a>
        </p>
            </form>
          </div>
        </div>
      </div>
    </div>
 
  
{% endblock %}
