{#Titre de la page#}
{% block title %}{% endblock %}
{% block stylesheets %}
       <link rel="stylesheet" href="{{asset('css/register.css')}}">
       <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
{% endblock %}
{#Corps de la page#}
{% block body  %}

  <class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Réinitialiser mon mot de passe</h5>
            <form method="post">
            

    
              
              {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <p></p>
        <button class="btn btn-primary">Réinitialiser</button>
    {{ form_end(resetForm) }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}